body{
    background-image: url('https://i.pinimg.com/originals/20/b2/54/20b2543eeec821916a62d0166440e574.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color:chartreuse;
}
